cracker/dict/rest_hibp.txt
cracker/dict/top_10-100mil_hibp.txt
cracker/dict/top_10mil_hibp.txt

cracker/crack/hashcat.pot
cracker/__pycache__
cracker/handshakes/*
!cracker/handshakes/.gitkeep
cracker/logs/*
!cracker/logs/.gitkeep
cracker/.idea
cracker/lefts
cracker/dict/maskfiles/*
!cracker/dict/maskfiles/.gitkeep
cracker/escapes/*
!cracker/escapes/.gitkeep

backend/static/dic_lc_eng.txt
backend/static/dic_lc_rom.txt
backend/static/nume_bac2018.txt
backend/static/nume_comune_bac2018.txt
backend/static/top_2500_engl.txt
backend/static/wordlist-top4800-probable.txt

backend/secret_key
backend/backendvenv
backend/__pycache__
backend/logs/*
!backend/logs/.gitkeep
backend/handshakes/*
!backend/handshakes/.gitkeep
backend/.idea

helpers/sources/*
