cracker/dict/rest_hibp.txt
cracker/dict/top_10-100mil_hibp.txt
cracker/dict/top_10mil_hibp.txt

cracker/crack/hashcat.pot
cracker/crack/sha1s.txt
cracker/logs/*.log
cracker/dict
cracker/john-local.conf

backend/config_files/capabilities_*
!backend/config_files/capabilities_template
backend/static/crack/*.txt

backend/secret_key
backend/backendvenv
backend/logs/*.log
backend/handshakes/*
!backend/handshakes/.gitkeep

helpers/sources/*

*__pycache__

*/.idea/
.idea/
*.pyc
