[
    {
        "name": "hot_words",
        "type" : "scrambler",
        "priority": 5,
        "wordsize": 0
    },
    {
        "name": "top4800",
        "type" : "wordlist",
        "priority": 10,
        "wordlist": "/home/pandora/PycharmProjects/psknow/cracker/dict/wordlist-top4800-probable.txt",
        "wordsize": 4800
    },
    {
        "name" : "dic_lc_rom",
        "type" : "wordlist",
        "priority": 20,
        "wordlist": "/home/pandora/PycharmProjects/psknow/cracker/dict/dic_lc_rom.txt",
        "wordsize": 72743
    },
    {
        "name" : "nume_bac2018",
        "type" : "wordlist",
        "priority": 22,
        "wordlist": "/home/pandora/PycharmProjects/psknow/cracker/dict/nume_bac2018.txt",
        "wordsize": 33666
    },
    {
        "name" : "dic_lc_eng",
        "type" : "wordlist",
        "priority": 24,
        "wordlist": "/home/pandora/PycharmProjects/psknow/cracker/dict/dic_lc_eng.txt",
        "wordsize": 63769
    },
    {
        "name": "Simple123",
        "type" : "john",
        "priority": 30,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/dic_lc_rom.txt",
        "rule": "Simple123",
        "wordsize": 1289424
    },
    {
        "name": "Simple123_bac",
        "type" : "john",
        "priority": 32,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/nume_bac2018.txt",
        "rule": "Simple123",
        "wordsize": 521188
    },
    {
        "name": "Simple123_eng",
        "type" : "john",
        "priority": 34,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/dic_lc_eng.txt",
        "rule": "Simple123",
        "wordsize": 999964
    },
    {
        "name": "SimpleNums",
        "type" : "john",
        "priority": 40,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/dic_lc_rom.txt",
        "rule": "SimpleNums",
        "wordsize": 57496000
    },
    {
        "name": "SimpleNums_bac",
        "type" : "john",
        "priority": 42,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/nume_bac2018.txt",
        "rule": "SimpleNums",
        "wordsize": 10567244
    },
    {
        "name": "SimpleNums_eng",
        "type" : "john",
        "priority": 44,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/dic_lc_eng.txt",
        "rule": "SimpleNums",
        "wordsize": 20527108
    },
    {
        "name": "close_dates_sep",
        "type" : "generated",
        "priority": 50,
        "command": "/home/pandora/PycharmProjects/psknow/cracker/dict/generators/date_generator.py 1900 2100 -./\\:_ yes",
        "wordsize": 1862328
    },
    {
        "name": "Jumbo_bac",
        "type" : "john",
        "priority": 55,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/nume_comune_bac2018.txt",
        "rule": "Jumbo",
        "wordsize": 13795144
    },
    {
        "name": "Jumbo_eng",
        "type" : "john",
        "priority": 57,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/top_2500_engl.txt",
        "rule": "Jumbo",
        "wordsize": 13810205
    },
    {
        "name": "historic_dates_sep",
        "type" : "generated",
        "priority": 60,
        "command": "/home/pandora/PycharmProjects/psknow/cracker/dict/generators/date_generator.py 0 1900 -./\\:_",
        "wordsize": 12300600
    },
    {
        "name": "SimpleSymbol",
        "type" : "john",
        "priority": 70,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/dic_lc_rom.txt",
        "rule": "SimpleSymbol",
        "wordsize": 7049216
    },
    {
        "name": "SimpleSymbol_bac",
        "type" : "john",
        "priority": 72,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/nume_bac2018.txt",
        "rule": "SimpleSymbol",
        "wordsize": 2280576
    },
    {
        "name": "SimpleSymbol_eng",
        "type" : "john",
        "priority": 74,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/dic_lc_eng.txt",
        "rule": "SimpleSymbol",
        "wordsize": 4889472
    },
    {
        "name": "SimpleYears",
        "type" : "john",
        "priority": 80,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/dic_lc_rom.txt",
        "rule": "SimpleYears",
        "wordsize": 57496000
    },
    {
        "name": "SimpleYears_bac",
        "type" : "john",
        "priority": 82,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/nume_bac2018.txt",
        "rule": "SimpleYears",
        "wordsize": 26488000
    },
    {
        "name": "SimpleYears_eng",
        "type" : "john",
        "priority": 84,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/dic_lc_eng.txt",
        "rule": "SimpleYears",
        "wordsize": 49391200
    },
    {
        "name": "future_dates_sep",
        "type" : "generated",
        "priority": 90,
        "command": "/home/pandora/PycharmProjects/psknow/cracker/dict/generators/date_generator.py 2100 10000 -./\\:_",
        "wordsize": 51144600
    },
    {
        "name": "EightDigits",
        "type" : "mask_hashcat",
        "mask_hashcat" : "?d?d?d?d?d?d?d?d",
        "priority": 100,
        "rule": "EightDigits",
        "wordsize": 100000000
    },
    {
        "name": "SimpleSymbolNum",
        "type" : "john",
        "priority": 110,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/dic_lc_rom.txt",
        "rule": "SimpleSymbolNum",
        "wordsize": 163873280
    },
    {
        "name": "SimpleSymbolNum_bac",
        "type" : "john",
        "priority": 112,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/nume_bac2018.txt",
        "rule": "SimpleSymbolNum",
        "wordsize": 64821760
    },
    {
        "name": "SimpleSymbolNum_eng",
        "type" : "john",
        "priority": 114,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/dic_lc_eng.txt",
        "rule": "SimpleSymbolNum",
        "wordsize": 125073920
    },
    {
        "name" : "hibpv3",
        "type" : "wordlist",
        "priority": 120,
        "wordlist": "/home/pandora/PycharmProjects/psknow/cracker/dict/899_have-i-been-pwned-v3_found.txt",
        "wordsize": 15132449
    },
    {
        "name" : "hibpv4",
        "type" : "wordlist",
        "priority": 130,
        "wordlist": "/home/pandora/PycharmProjects/psknow/cracker/dict/1509_have-i-been-pwned-v4_found.txt",
        "wordsize": 33772630
    },
    {
        "name" : "hibpv2",
        "type" : "wordlist",
        "priority": 140,
        "wordlist": "/home/pandora/PycharmProjects/psknow/cracker/dict/515_have-i-been-pwned-v2_found.txt",
        "wordsize": 497880656
    },
        {
        "name" : "nume_bac2018",
        "type" : "wordlist",
        "priority": 141,
        "wordlist": "/home/pandora/PycharmProjects/psknow/cracker/dict/nume_bac2018.txt",
        "wordsize": 33666
    },
    {
        "name" : "dic_lc_eng",
        "type" : "wordlist",
        "priority": 142,
        "wordlist": "/home/pandora/PycharmProjects/psknow/cracker/dict/dic_lc_eng.txt",
        "wordsize": 63769
    },
    {
        "name": "Simple123_bac",
        "type" : "john",
        "priority": 143,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/nume_bac2018.txt",
        "rule": "Simple123",
        "wordsize": 521188
    },
    {
        "name": "Simple123_eng",
        "type" : "john",
        "priority": 144,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/dic_lc_eng.txt",
        "rule": "Simple123",
        "wordsize": 999964
    },
    {
        "name": "SimpleNums_bac",
        "type" : "john",
        "priority": 145,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/nume_bac2018.txt",
        "rule": "SimpleNums",
        "wordsize": 10567244
    },
    {
        "name": "SimpleNums_eng",
        "type" : "john",
        "priority": 146,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/dic_lc_eng.txt",
        "rule": "SimpleNums",
        "wordsize": 20527108
    },
    {
        "name": "Jumbo_bac",
        "type" : "john",
        "priority": 147,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/nume_comune_bac2018.txt",
        "rule": "Jumbo",
        "wordsize": 13795144
    },
    {
        "name": "Jumbo_eng",
        "type" : "john",
        "priority": 148,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/top_2500_engl.txt",
        "rule": "Jumbo",
        "wordsize": 13810205
    },
    {
        "name": "SimpleSymbol_bac",
        "type" : "john",
        "priority": 149,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/nume_bac2018.txt",
        "rule": "SimpleSymbol",
        "wordsize": 2280576
    },
    {
        "name": "SimpleSymbol_eng",
        "type" : "john",
        "priority": 150,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/dic_lc_eng.txt",
        "rule": "SimpleSymbol",
        "wordsize": 4889472
    },
    {
        "name": "SimpleYears_bac",
        "type" : "john",
        "priority": 151,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/nume_bac2018.txt",
        "rule": "SimpleYears",
        "wordsize": 26488000
    },
    {
        "name": "SimpleYears_eng",
        "type" : "john",
        "priority": 152,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/dic_lc_eng.txt",
        "rule": "SimpleYears",
        "wordsize": 49391200
    },
    {
        "name": "SimpleSymbolNum_bac",cd d
        "type" : "john",
        "priority": 153,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/nume_bac2018.txt",
        "rule": "SimpleSymbolNum",
        "wordsize": 64821760
    },
    {
        "name": "SimpleSymbolNum_eng",
        "type" : "john",
        "priority": 154,
        "baselist": "/home/pandora/PycharmProjects/psknow/cracker/dict/dic_lc_eng.txt",
        "rule": "SimpleSymbolNum",
        "wordsize": 125073920
    }
]
