[
    {
        "name": "hot_words",
        "type" : "scrambler",
        "priority": 5,
        "wordsize": 0,
        "desc": "John the ripper Jumbo rules applied on some hot words (wifi/password/parola) and on variations of the essid",
        "examples": ["password123", "parola123", "<EESID>123", "<ESS>"],
        "link": ""
    },
    {
        "name": "top4800",
        "type" : "wordlist",
        "priority": 10,
        "wordlist": "/home/pandora/PycharmProjects/psknow/cracker/dict/wordlist-top4800-probable.txt",
        "wordsize": 4800,
        "desc": "Top 4800 wpa2 passwords taken from SecLists",
        "examples": ["password", "12345678", "abcd1234", "q1w2e3r4"],
        "link": "/dict?dict=wordlist-top4800-probable.txt"
    },
    {
        "name" : "dic_lc_rom",
        "type" : "wordlist",
        "priority": 20,
        "wordlist": "/home/pandora/PycharmProjects/psknow/cracker/dict/dic_lc_rom.txt",
        "wordsize": 72743,
        "desc": "A Romanian wordlist containing 72K words",
        "examples": ["pirat", "pirata", "piratare", "piraterie", "girafa", "stanga"],
        "link": "/dict?dict=dic_lc_rom.txt"
    }
]
