table {
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
}

th, td {
  text-align: left;
  padding: 8px;
}

td:last-child, th:last-child {
 text-align: right;
}

tr:nth-child(even){background-color: #6ec071}
tr:nth-child(odd){background-color: #93cf95}

th {
  background-color: #357a38;
  color: white;
}

tr:hover td {
  background-color: #459c48;
}

table.autosize {
  width: auto;
}
