<!DOCTYPE html>
<html>
<head>
    <title>PSKnow</title>
    <link rel="stylesheet" type="text/css" href="/css/table.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>
<body>
<ul class=navbar>
  <li><a class="active" href='/'>Home</a></li>
  <li><a href='/upload/'>Upload</a></li>
  {% if logged_in %}
  <li><a href='/statuses/'>Statuses</a></li>
  <li><a href='/api/'>API</a></li>
  <li style="float:right"><a href='/logout/'>Logout</a></li>
  {% else %}
  <li style="float:right"><a href='/register/'>Register</a></li>
  <li style="float:right"><a href='/login/'>Login</a></li>
  {% endif %}
</ul>

<br>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for type,message in messages %}
      {% if type == 'success' %}
        <div style='color:green'>
          {{ message }}
        </div>
      {% else%}
        <div style='color:red'>
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  {% else %}
    <br>
  {% endif %}
{% endwith %}

{% if logged_in %}
    {% if cracked|length > 0 %}
        <h2>Cracked captures:</h2>
        <table>
            <tr>
                <th>Wifi Name</th>
                <th>Wifi MAC</th>
                <th>HS Type</th>
                <th>Date Added</th>
                <th>Cracked by</th>
                <th>Password</th>
                <th>Date Cracked</th>
            </tr>
            {% for handshake in cracked %}
            <tr>
                <td>{{ handshake["ssid"] }}</td>
                <td>{{ handshake["mac"] }}</td>
                <td>{{ handshake["hs_type"] }}</td>
                <td>{{ handshake["date_added"] }}</td>
                <td>{{ handshake["cracked_by"] }}</td>
                <td>{{ handshake["password"] }}</td>
                <td>{{ handshake["date"] }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
    {% endif %}
    {% if uncracked|length > 0 %}
        <h2>Uncracked captures:</h2>
        <table>
            <tr>
                <th>Wifi Name</th>
                <th>Wifi MAC</th>
                <th>HS Type</th>
                <th>Date Added</th>
                <th>Tried rules</th>
                <th>Estimated time</th>
                <th>Action</th>
            </tr>
            {% for handshake in uncracked %}
            <tr>
                <td>{{ handshake["ssid"] }}</td>
                <td>{{ handshake["mac"] }}</td>
                <td>{{ handshake["hs_type"] }}</td>
                <td>{{ handshake["date_added"] }}</td>
                <td>{{ handshake["tried_rules"] }}</td>
                <td>{{ handshake["eta"] }}</td>
                <td>
                  <form action="/delete_wifi/" method="post">
                    <input type="hidden" name="id" value="{{ handshake['id'] }}" />
                    <button type="submit">X</button>
                 </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>No uncracked handshakes</h2>
    {% endif %}
{% else %}
    <h2>Please login first!</h2>
{% endif %}

</body>
</html>
