<!DOCTYPE html>
<html>
<head>
  <title>PSKnow</title>
  <style>
    body {font-family: Arial, Helvetica, sans-serif;}
    form {border: 3px solid #f1f1f1;}
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/log_reg.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>
<body>

<ul class=navbar>
  <li><a href='/'>Home</a></li>
  <li><a href='/upload/'>Upload</a></li>
  <li style="float:right"><a href='/register/'>Register</a></li>
  <li style="float:right"><a class="active" href='/login/'>Login</a></li>
</ul>

<br>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for type,message in messages %}
      {% if type == 'success' %}
        <div style='color:green'>
          {{ message }}
        </div>
      {% else%}
        <div style='color:red'>
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  {% else %}
    <br>
  {% endif %}
{% endwith %}

<h2>Login Form</h2>

<form action="/login/" method="POST">
  <div class="container">

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" id="username" name="username" required="">

    <label for="password"><b>Password</b></label>
    <input type="password" name="password" id="password" placeholder="Enter Password" required="">

    <button type="submit">Login</button>
<!--    <a href="{\{ url_for('blob_api.reset_password') }}"><p style="text-align:center">Forgot password?</p></a>-->
  </div>
</form>

</body>
</html>