<!DOCTYPE html>
<html>
<head>
  <title>PSKnow</title>
  <style>

  button {
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    padding: 8px 8px;
    border: none;
    cursor: pointer;
    width: auto;
  }

  button:hover {
    opacity: 0.8;
  }

  button > img, button > span {
    vertical-align: middle;
  }

  input {
    text-overflow: ellipsis;
    min-width: 300px;
  }
  </style>
  <link rel="stylesheet" type="text/css" href="/css/table.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>
<body>


<ul class=navbar>
  <li><a href='/'>Home</a></li>
  <li><a href='/upload/'>Upload</a></li>
  <li><a href='/statuses/'>Statuses</a></li>
  <li><a href='/api/'>API</a></li>
  <li><a class="active"  href='/profile/'>Profile</a></li>
  <li style="float:right"><a href='/logout/'>Logout</a></li>
</ul>

<br>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for type,message in messages %}
      {% if type == 'success' %}
        <div style='color:green'>
          {{ message }}
        </div>
      {% else%}
        <div style='color:red'>
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  {% else %}
    <br>
  {% endif %}
{% endwith %}


<form action="/profile/" method="POST">
<div class="container">
  <h2> Account info </h2><br>
  <label for="username"><b>Username</b></label><br>
  <input type="text" placeholder={{username}}  id="username" name="username" required="" readonly><br><br>

  <label for="first_name"><b>First Name</b></label><br>
  <input type="text" placeholder='{{first_name}}'  id="first_name" name="first_name"><br><br>

  <label for="last_name"><b>Last Name</b></label><br>
  <input type="text" placeholder='{{last_name}}'  id="last_name" name="last_name"><br><br>

  <label for="email"><b>Email</b></label><br>
  <input type="text" placeholder='{{email}}'  id="email" name="email"><br><br>

  <label for="password"><b>Password</b></label><br>
  <input type="password" placeholder="********" id="password" name="password"><br><br>

  <label for="confirm"><b>Confirm password</b></label><br>
  <input type="password" name="confirm" id="confirm" placeholder="********"><br><br>

  <button type="submit" id="submit_btn">Save changes</button>
</div>
</form>

</body>
</html>
